.body-vd{
  background-color: rgba(96, 30, 160, 0);
}

.table-head-data{
  width: fit-content;
  height: 1%;
}

.mat-column-nome_cliente {
  width: 35%;
  padding-right: 16px !important;
}

.mat-column-descricao {
  width: 28%;
  padding-right: 10px !important;
}

.mat-column-opicao,
.mat-colunm-opicoes{
  width: 15%;
}

.mat-column-dt_venda,
.mat-column-total_geral,
.mat-column-qtd,
.mat-column-preco {
  width: 100px;
  white-space: nowrap;
}

.table-child{
  background-image: linear-gradient( #8438ee, #34db85);
}

 .expanding-table {
   min-width: 100%;
   height: 50px;
   background-color: rgba(51, 33, 83, 0.07);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   table-layout: fixed;
   width: fit-content;
 }

.collun-op {
  width: fit-content;
  height: 50px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  position: center;
}

.componet-gradient:hover {
  background-image: linear-gradient( #e2efec, #7e758e);
}

.button-update {
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

h3{
  margin-right: 16px;
  margin-bottom: 0;
}

.spacer{
flex:3 1 auto;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço entre o input e o botão search */
  width: 50%; /* Define quanto da tela a busca pode ocupar (ajustável) */
  max-width: 500px; /* Evita que fique gigante em telas ultra-wide */
}

.button-add{
 width: 15%;
  background-position:left ;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-search-vd {
  width: 20%;
  align-content: end;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.button-add-item {
  min-width: 40px;
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;

}

.button-add-item:hover {
  background-image: linear-gradient( #e2efec, #7e758e);
}

.button-edite {
  min-width: 40px;
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.button-edite:hover {
  background-image: linear-gradient( #e2efec, #758e7b);
}

.button-delete {
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.button-delete:hover {
  background-image: linear-gradient( #e2efec, #d90505);
}


.image-table{
  height: auto;
  min-height: 50px;
  min-width: 50px;
  width: 20%;
}

.head-table-vd{
  border-radius: 15px;
  background-color: rgba(51, 33, 83, 0.07);
  color: #0f2102;
  display: inline-flex;
  align-content: center;
  min-height: 45px;
  height: auto;
}

/*.input-table-vd{
  padding-inline-start: 10px;
  border-bottom-left-radius: 15px;
  min-height: 25px;
  height: auto;
  max-width: 40%;
  width: auto;
  color: #32e27e;
  background: rgba(0, 3, 10, 0.05);
}*/

.input-table-vd {
  flex-grow: 1; /* Faz o input expandir para preencher o search-container */
  height: 35px;
  padding: 0 15px;
  color: #32e27e;
  background: rgba(0, 3, 10, 0.05);
  border-radius: 20px;
  outline: none;
}


tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
  width: fit-content;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.example-element-detail:hover{
  background: rgba(226, 236, 104, 0.75);
}



