.div-parcelamento {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 5px;
}


.setup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 15px;
}

.full-width {
  width: 100%;
}

.btn-calcular {
  width: fit-content;
  align-self: flex-end;
}

.table-container {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
}

table {
  width: 100%;
}
