
.div-pag {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 5px;
  line-height: 1%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  max-height: min-content;
}

.container-box-pg {
  background: rgba(227, 161, 78, 0);
  height: 95vh;
  overflow-y: auto; /* Se o conteúdo ainda for grande, o scroll fica dentro do card */
  display: flex;
  flex-direction: column;
}

.container-tb-pag {
  background: rgba(227, 161, 78, 0);
}

.table-pg {
  background-color: rgba(51, 33, 83, 0.07);
  border-radius: 20px;
}

::ng-deep .mat-mdc-form-field {
  width: 95%;
  height: 12%;
  padding: 2px;
  margin-bottom: -10px !important; /* Remove o espaço da legenda de erro/hint */
  display: block;
}
/* Reduz a altura da caixa de entrada */
::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important; /* Altura bem reduzida */
  padding: 0 8px !important;
}
/* Alinha o texto e o label dentro da caixa menor */
::ng-deep .mat-mdc-form-field-flex {
  height: 40px !important;
  align-items: center !important;
}

mat-label, mat-input {
  font-size: 0.8rem;
}

/*
@media (max-width: 600px) {
  .div-pag {
    grid-template-columns: 1fr; !* Força uma única coluna *!
    width: 100%;
    padding: 5px;
  }

  h1 {
    font-size: 1.2rem;
  }
}
*/

