<div mat-dialog-content class="div-os">

  <h1 *ngIf="!isChange" mat-dialog-title>Abrir Serviço</h1>
  <h1 *ngIf="isChange" mat-dialog-title>Editar Serviço</h1>



  <mat-form-field class="example-full-width">
    <mat-label>Atendente</mat-label>
    <input type="text"
           placeholder="Atendente"
           matInput
           [formControl]="funcionarioControl"
           [matAutocomplete]="auto"
           (keypress)="listarFuncionario()"/>
    <mat-error>Campo Obrigatório não preenchido.</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnFunc">
      <mat-option *ngFor="let funcionario of funcionarioFilted | async" [value]="funcionario">
        {{funcionario.nomeFuncionario}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="os.dataDeEntrada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Cliente</mat-label>
    <input type="text"
           placeholder="Digite o Cliente"
           matInput
           [formControl]="clienteControl"
           [matAutocomplete]="autcli"
           (keyup)="listarClientes()"
    />
    <mat-error>Campo Obrigatório não preenchido.</mat-error>
    <mat-autocomplete #autcli="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
        {{cliente.nomeCliente}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <button mat-button *ngIf="!isChange" cdkFocusInitial [mat-dialog-close]="osSelecionada"
          (click)="save(os)">Adicionar
  </button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>

</div>


