
<mat-card mat-dialog-content class="div-os">

  <h1 *ngIf="!isChange" mat-dialog-title>Adicionar Serviço</h1>
  <h1 *ngIf="isChange" mat-dialog-title>Editar Serviço</h1>

  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="os.idOS">
    <input matInput [(ngModel)]="os.nomeCliente">
    <input matInput [(ngModel)]="os.dt_OS">

    <h2 mat-dialog-title>Selecione um Cliente</h2>
    <mat-dialog-content>
      <form>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Cliente</mat-label>
          <input
            type="text"
            matInput
            [formControl]="clienteControl"
            [matAutocomplete]="auto"
            (optionSelected)="clienteSelecionado = $event"
          >
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
              {{ cliente.nome_cliente }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-dialog-content>


 <!-- <mat-form-field class="example-full-width">
    <mat-label>Produtos</mat-label>
    <input type="text"
           placeholder="Digite o Produto"
           matInput
           [formControl]="produtoControl"
           [matAutocomplete]="auto"
           (keyup)="changeProdutos(produtoControl.value)"
           (keydown)="listarProdutos(produtoControl.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="prods" *ngFor="let prods of produtosFiltered">{{prods}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Códico</mat-label>
    <input matInput [(ngModel)]="cli.cod_cliente">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="cli.nome_cliente">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Cadastro</mat-label>
    <input type="date" matInput [(ngModel)]="cli.dt_cadastro">
  </mat-form-field>

-->

 <button mat-raised-button *ngIf="isChange" [mat-dialog-close]="osSelecionada" cdkFocusInitial (click)="save(osSelecionada)">Adicionar</button>

    <button mat-raised-button (click)="onCancel()">Cancel</button>




</mat-form-field>
</mat-card>

