<h1 *ngIf="!isChange" mat-dialog-title>Adicionar Produto</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Produto</h1>

<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="produto.idProduto" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="produto.codProduto">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="produto.nomeProduto">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço de Compra</mat-label>

    <input matInput
           [type]="isChange ? 'number' : 'text'"
           [ngModel]="isChange ? produto.valorCompra : (produto.valorCompra | currency:'BRL')"
           (ngModelChange)="isChange && (produto.valorCompra = $event)"
           (focus)="isChange = true" (blur)="isChange = false">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço de Venda</mat-label>
    <input matInput [type]="isChange2 ? 'number' : 'text'"
           [ngModel]="isChange2 ? produto.valorVenda : (produto.valorVenda | currency:'BRL')"
           (ngModelChange)="isChange2 && (produto.valorVenda = $event)"
           (focus)="isChange2 = true" (blur)="isChange2 = false">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Margem de lucro</mat-label>
    <input matInput type="number" [(ngModel)]="produto.percentual">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Quantidade em Estoque</mat-label>
    <input matInput type="number" [(ngModel)]="produto.qtdEstoque">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Cadastro</mat-label>
    <input matInput [(ngModel)]="produto.dtCadastro">
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save(produto)">Salvar</button>
</div>
