<h1 *ngIf="isChange" mat-dialog-title>Adicionar Produto</h1>
<h1 *ngIf="!isChange" mat-dialog-title>Editar Produto</h1>

<div mat-dialog-content>

  <mat-form-field appearance="fill" *ngIf="!isChange">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="produto.idProduto" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="produto.codProduto">
  </mat-form-field>

  <div class="image-container">
    <img [src]="imagePreview ? imagePreview : 'assets/placeholder.png'"
         style="width: 150px; height: 150px; object-fit: cover; border: 1px solid #ccc;">

    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none">

    <button mat-icon-button color="accent" (click)="fileInput.click()" type="button">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="produto.nomeProduto">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço de Compra</mat-label>
    <input matInput
           [type]="fieldStates.valorCompra.isEdit ? 'number' : 'text'"
           [ngModel]="fieldStates.valorCompra.isEdit ? produto.valorCompra : (produto.valorCompra | currency:'BRL')"
           (ngModelChange)="fieldStates.valorCompra.isEdit && (produto.valorCompra = $event)"
           (focus)="fieldStates.valorCompra.isEdit = true"
           (blur)="fieldStates.valorCompra.isEdit = false">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço de Venda</mat-label>
    <input matInput
           [type]="fieldStates.valorVenda.isEdit ? 'number' : 'text'"
           [ngModel]="fieldStates.valorVenda.isEdit ? produto.valorVenda : (produto.valorVenda | currency:'BRL')"
           (ngModelChange)="fieldStates.valorVenda.isEdit && (produto.valorVenda = $event)"
           (focus)="fieldStates.valorVenda.isEdit = true"
           (blur)="fieldStates.valorVenda.isEdit = false">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Margem de lucro (%)</mat-label>
    <input matInput
           type="number"
           [(ngModel)]="produto.percentual"
           (blur)="calcularPrecoVenda()"> </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Quantidade em Estoque</mat-label>
    <input matInput type="number" [(ngModel)]="produto.qtdEstoque">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Cadastro</mat-label>
    <input matInput [(ngModel)]="produto.dtCadastro">
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save(produto)">Salvar</button>
</div>
