<nav class="menu-lable">
  <ul>
    <li>
          <span>
      <mat-icon class="lable-link"
                routerLinkActive="active" [routerLink]="['/']">home</mat-icon>
          </span>
    </li>

    <li><label class="hide">Promoções</label>
      <span class="lable-link title" [routerLink]="['products-p']">Promoções
         </span>
    </li>
    <li><label class="hide">Departamentos</label>
      <span class="lable-link title" routerLinkActive="active" [routerLink]="['district']">
            Departamentos</span>
    </li>

    <li><label class="hide">Blog</label>
      <span class="lable-link title" href="http://scherlandro.blogspot.com">Blog</span>
    </li>

    <li><label class="hide">Login</label>
      <span class="lable-link title" routerLinkActive="active" [routerLink]="['/auth/login']">Login</span>
    </li>

  </ul>

</nav>

