<nav>
  <ul>
    <li>
          <span>
      <mat-icon
        routerLinkActive="active" [routerLink]="['/']">home</mat-icon>
          </span>
    </li>

    <li><label class="hide">Promoções</label>
      <span class="title" [routerLink]="['products-p']">Promoções
         </span>
    </li>

    <li><label class="hide">Departamentos</label>
      <span class="title" routerLinkActive="active" [routerLink]="['district']">
            Departamentos</span>
    </li>

    <li><label class="hide">Blog</label>
      <span class="title"routerLink="active"[routerLink]="['contact']">Blog</span>
    </li>

    <li><label class="hide">Login</label>
      <span class="title" routerLinkActive="active" [routerLink]="['/auth/login']">Login</span>
    </li>

  </ul>

</nav>

