


    <nav class="menu-lable">
      <div>
      <mat-icon class="lable-link"
                routerLinkActive="active" [routerLink]="['/']">home</mat-icon>
      </div>
      <ul>
        <li>
        <span class="lable-link" routerLinkActive="active" [routerLink]="['products-p']" ></span>
          <span class="title">Promoções</span>
        </li>
        <li>
          <span class="lable-link" routerLinkActive="active" [routerLink]="['district']">
            Departamentos</span>
        </li>

        <li>
           <span  routerLinkActive="active" [routerLink]="['/auth/login']">Entrar</span>
        </li>

       <li>
      <span href="http://scherlandro.blogspot.com"
      >Blog</span>
       </li>
     </ul>
      <div>
      <mat-icon class="lable-link" >art_track</mat-icon>
      <a class="lable-link" routerLinkActive="active" [routerLink]="['contact']">
        Contacts</a>
      </div>


     <!-- <div>
      <input class="lable-link" type="search" placeholder="Search">
      </div>
-->

    </nav>

