<div *ngIf="selectedProduct" class="selected-product-banner">
  <h3>Continue sua compra:</h3>
  <div class="product-card">
    <div class="cubo-main-p">
      <div class="cubo">
        <img class="face-p front-p" [src]="getImageUrl(selectedProduct.fotoProduto)" *ngIf="selectedProduct.fotoProduto">
        <img class="face-p back-p" src="/assets/image/r2_d2.png">
        <img class="face-p right-p" src="/assets/image/obi_wan.png">
        <img class="face-p left-p" src="/assets/image/clone_old.png">
      </div>
    </div>

    <div class="product-content">
      <h3 class="product-title">{{selectedProduct.nomeProduto}}</h3>
      <div class="price-section">
        <span class="price">{{selectedProduct.valorVenda | currency: 'BRL'}}</span>
        <span *ngIf="selectedProduct.qtdEstoque > 0" class="stock-available">Em estoque</span>
        <span *ngIf="selectedProduct.qtdEstoque <= 0" class="stock-unavailable">Sem estoque</span>
      </div>
      <div class="shipping-info">
        <mat-icon>local_shipping</mat-icon>
        <span>Frete grátis</span>
      </div>
    </div>

    <div class="product-actions">
      <button mat-raised-button color="primary" class="add-to-cart">
        <mat-icon>add_shopping_cart</mat-icon>
        Finalizar Compra
      </button>
    </div>
    <button mat-icon-button (click)="clearHighlight()" matTooltip="Fechar">
    <mat-icon>close</mat-icon>
  </button>
  </div>
</div>

<div>

  <div>
    <mat-card-content class="body-prod-p">
      <mat-toolbar class="head-table body">
        <span> Ofertas do dia </span>
        <input class="input-table" type="text" placeholder=" Digite a consulta" matInput
               [formControl]="produtoControl"
               (load)="highlightProductInList(produtoControl.value)"
               (input)="consultarPorNome(produtoControl.value)"/>
        <button class="button-search body" (click)="consultarPorNome(produtoControl.value)">Search</button>
      </mat-toolbar>

      <div class="spinner-container">
        <aside>
          <div *ngIf="spiner " class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </aside>
      </div>

      <div class="products-grid">
        <mat-card *ngFor="let produto of pagedProdutosFiltrados "
                  class="product-card body"
                  [class.highlighted]="produto.highlighted" >

          <div class=" cubo-main">
            <div class="cubo">
              <img class="face-p front-p " [src]="getImageUrl(produto.fotoProduto)" *ngIf="produto.fotoProduto">
              <img class="face-p back-p " src="/assets/image/r2_d2.png" >
              <img class="face-p right-p " src="/assets/image/obi_wan.png" >
              <img class="face-p left-p " src="/assets/image/clone_old.png" >
            </div>
          </div>

          <mat-card-content class="product-content">
            <h3 class="product-title">{{produto.nomeProduto}}</h3>

            <div class="price-section">
              <span class="price">{{produto.valorVenda | currency: 'BRL'}}</span>
              <span *ngIf="produto.qtdEstoque > 0" class="stock-available">Em estoque</span>
              <span *ngIf="produto.qtdEstoque <= 0" class="stock-unavailable">Sem estoque</span>
            </div>

            <div class="shipping-info">
              <mat-icon>local_shipping</mat-icon>
              <span>Frete grátis</span>
            </div>
          </mat-card-content>

          <mat-card-actions class="product-actions">
            <button mat-raised-button color="primary" class="add-to-cart" [routerLink]="['/auth/login']">
              <mat-icon>add_shopping_cart</mat-icon>
              Comprar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-paginator [length]="produtosFiltrados.length"
                     [pageSize]="20"
                     [pageSizeOptions]="[20, 40, 60]"
                     (page)="onPageChange($event)"
                     aria-label="Select page"
                     class="componet-table body">
      </mat-paginator>

    </mat-card-content>
  </div>





  <!--<mat-card-content class=" body-dashbord body">

    <div>

      &lt;!&ndash; First Photo Grid&ndash;&gt;
      <div class="container-top-dashbord ">

        <div>
          <img class="img-magnifier-container"
               src="/assets/image/lambao.jpg" alt="Norway"
               style="width:20%">
          <p><b>Caminho</b></p>
          <p class="label-descrition"> A estrada dos retos desvia-se do mal; o que guarda o seu caminho preserva a sua
            vida.</p>
        </div>

        <div>
          <img class="img-magnifier-container"
               src="/assets/image/lambao.jpg" alt="Norway" style="width:20%">
          <p><b>Insensatos</b></p>
          <p class="label-descrition">Os insensatos, por causa do seu caminho de transgressão, e por causa das suas
            iniqüidades, são afligidos. </p>
        </div>

        <div>
          <button (click)="showNotification()"> MSN </button>
          <h4 >{{mensagens}}</h4>
          <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
          <p><b>Sabedoria e Entendimento</b></p>
          <p class="label-descrition"> Dize à sabedoria: Tu és minha irmã; e chama ao entendimento teu amigo íntimo</p>
        </div>

        <div>
          <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
          <p><b>Sábios, Néscios e o Estúpido</b></p>
          <p class="label-descrition"> ... até os sábios morrem, que perecem igualmente o néscio e o estúpido, e deixam
            a outros os seus bens. </p>
        </div>

      </div>

      <h4>Technical Skills</h4>
      &lt;!&ndash; Progress bars / Skills &ndash;&gt;
      <div>
        <div class="graphic-of-languages body" style="width:95%">95%</div>
        <p>Java</p>
      </div>

      <div>
        <div class="graphic-of-languages body" style="width:85%">85%</div>
        <p>TypeScript</p>
      </div>

      <div>
        <div class="graphic-of-languages body " style="width:80%">80%</div>
        <p>Web Design</p>
      </div>
      <br>
      <p>
        <button class="button-sign-up body">
          <i></i>Download Resume
        </button>
      </p>
      <hr>

    </div>


    <mat-grid-list cols="3" rowHeight="100px"  >
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        class="container-dashbord"
      >
        {{tile.text}}
        <div  >
        <img class="container-dashbord" src="assets/image/r2_d2.png">
        </div>
         </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>-->

</div>
