




<body class="body " style="border-radius: 0px">

  <article>
  <mat-card class="comp-contabil-sizes comp-contabil-colors ">
    <canvas class="comp-contabil-sizes" #canvasElement ></canvas>
  </mat-card>
</article>

  <form>
    <label  >Escolha o periodo para análise: </label>
     <br>
   <section  class="config-component" >

     <input type="date" class="input-date" name="date_init"   id="date_init"
            required [(ngModel)]="date_init" >

     <input type="date"  class="input-date"  id="date_finish" name="date_finish"
            required [(ngModel)]="date_finish"  >

     <button class="button-sizes" type="submit" (click)="mostarGrafico()">
      Mostrar Análise Gráfica
    </button>

   </section>

  </form>

</body>



