<div class="div-parcelamento" >
<h2 mat-dialog-title>Gerar Parcelamento</h2>

<mat-dialog-content class="mat-typography">
  <div class="setup-container" [formGroup]="parcelaForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Valor Total</mat-label>
      <input matInput type="number" formControlName="valorTotal" readonly>
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Qtd. de Parcelas</mat-label>
        <input matInput type="number" formControlName="quantidade" min="1" max="12">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>1º Vencimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataPrimeiraParcela">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="calcularParcelas()" class="btn-calcular">
      Calcular Parcelas
    </button>
  </div>

  <mat-divider></mat-divider>

<div class="cards-container" *ngIf="dataSourceParcelas.length > 0">
  <mat-card *ngFor="let p of dataSourceParcelas" class="parcela-card">
    <mat-card-content>
      <div class="card-item">
        <span class="label">Parcela</span>
        <span class="value">{{p.numero}}x</span>
      </div>

      <div class="card-item">
        <span class="label">Vencimento</span>
        <span class="value">{{p.vencimento | date:'dd/MM/yyyy'}}</span>
      </div>

      <div class="card-item">
        <span class="label">Valor</span>
        <span class="value-highlight">{{p.valor | currency:'BRL'}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="accent"
          [mat-dialog-close]="dataSourceParcelas"
          [disabled]="dataSourceParcelas.length === 0">
    Confirmar Parcelamento
  </button>
</mat-dialog-actions>


