<div Align="right">

  <ul>

    <mat-icon class="logout"
              title="Sair" (click)="logout()">logout</mat-icon>

    <mat-icon class="menu-image " Align="right"
              title="Bem vindo {{nameDoUsuario}}"
              [matMenuTriggerFor]="menu" ></mat-icon>


    <mat-menu #menu="matMenu" class="component-gradient body  ">

      <button mat-menu-item class="body">
        <mat-icon class="menu-image sidemenu " Align="center"
        title="Bem vindo {{nameDoUsuario}}" >
        </mat-icon>

      <h5>{{nameDoUsuario}}</h5></button>
      <button mat-menu-item routerLink="dashboard">Painel</button>
      <button mat-menu-item routerLink="usuarios">Usuarios</button>
      <button mat-menu-item routerLink="funcionarios">Funcionarios</button>
      <button mat-menu-item routerLink="clientes">Clientes</button>
      <button mat-menu-item routerLink="produtos">Produtos</button>
      <button mat-menu-item [matMenuTriggerFor]="menuVendas">Vendas</button>
      <button mat-menu-item routerLink="contabilidade">Contabilidade</button>
      <button mat-menu-item routerLink="nfe">NfE</button>
      <button mat-menu-item href="http://scherlandro.blogspot.com/">MEU BLOGSPOT</button>
      <button mat-menu-item (click)="logout()">Sair</button>

    </mat-menu>
    <mat-menu #menuVendas="matMenu">
      <button mat-menu-item routerLink="vendas">Listar Vendas</button>
      <button mat-menu-item routerLink="vendas/add">Adicionar vendas</button>
    </mat-menu>

  </ul>
</div>
<form *ngIf="mostrarMenuHeader" class="nav-head componet-table ">

  <!---  Menu horizontal   --->
  <mat-icon class="lable-link body" title="home"  routerLink="dashboard">home</mat-icon>

  <mat-icon class="lable-link body" title="Usuários" routerLink="usuarios">person</mat-icon>

  <mat-icon class="lable-link body" title="Funcinários" routerLink="funcionarios">engineering</mat-icon> <!-- managers-->

  <mat-icon class="lable-link body" title="Clientes" routerLink="clientes">group_add | workman</mat-icon>

  <mat-icon class="lable-link body" title="Produtos" routerLink="produtos">redeem | store_mall_directory</mat-icon>

  <mat-icon class="lable-link body" title="Vendas" routerLink="vendas">point_of_sale | local_atm | payment</mat-icon>

  <mat-icon class="lable-link body" title="Carrinho de Compras" routerLink="carrinho-de-compras" >shopping_cart</mat-icon>

  <mat-icon class="lable-link body" title="Ordem de Serviços" routerLink="os">handyman</mat-icon>

  <mat-icon class="icon-balance lable-link body" title="Contabilidade" routerLink="contabilidade">timeline<mat-icon>balance</mat-icon></mat-icon>

  <mat-icon class="lable-link body" title="Nfe" routerLink="nfe">receipt_long | receipt</mat-icon>


</form>

