<div>
  <mat-card-content class="body-prod-ad">

  <mat-toolbar class="head-table body">

    <span> Produtos </span>
    <button class="button-add" (click)="openDialogo(produtoControl.value)">
      <mat-icon>add</mat-icon>
    </button>
    <input class="input-table" type="text" placeholder=" Digite a consulta" matInput
           [formControl]="produtoControl"
           (input)="consultarPorNome(produtoControl.value)"/>
    <button class="button-search body" (click)="consultarPorNome(produtoControl.value)">Search</button>

  </mat-toolbar>

    <div class="spinner-container">
      <aside>
        <div *ngIf="spiner " class="spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </aside>
    </div>

    <div class="products-grid">
      <mat-card *ngFor="let produto of pagedProdutosFiltrados" class="product-card">
        <div class="card-content-wrapper">
          <div class="card-image">
              <div class=" cubo-main">
              <div class="cubo">
                <img class="face-p front-p " [src]="getImageUrl(produto.fotoProduto)" *ngIf="produto.fotoProduto">
                <img class="face-p back-p " src="/assets/image/r2_d2.png" >
                <img class="face-p right-p " src="/assets/image/obi_wan.png" >
                <img class="face-p left-p " src="/assets/image/clone_old.png" >
              </div>
            </div>
          </div>
          <mat-card-content class="product-content">
            <div class="card-details">
            <div class="card-field"><strong>Código:</strong> {{produto.codProduto}}</div>
              <div class="card-field"><strong>Descrição:</strong> {{produto.nomeProduto}}</div>
                                                 <!-- {{produto.dtCadastro | date:'dd/MM/yyyy'}}-->
              <div class="card-field"><strong>Cadastrado em:</strong> {{produto.dtCadastro }}</div>
             <div class="card-field"><strong>Atualizado em:</strong> {{produto.ultimaAtualizacao }}</div>

              <div class="price-section">
                <strong>Preço:</strong>
                <span class="price">{{produto.valorVenda | currency: 'BRL'}}</span>
                <span *ngIf="produto.qtdEstoque > 0" class="stock-available">Em estoque</span>
                <span *ngIf="produto.qtdEstoque <= 0" class="stock-unavailable">Sem estoque</span>
              </div>
            </div>

            <mat-card-actions class="card-actions">
              <button mat-icon-button class="edit" (click)="editarElement(produto)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="delete" (click)="deleteElement(produto.idProduto)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
    <mat-paginator [length]="produtosFiltrados.length"
                   [pageSize]="20"
                   [pageSizeOptions]="[20, 40, 60]"
                   (page)="onPageChange($event)"
                   aria-label="Select page"
                   class="componet-table body">
    </mat-paginator>

  </mat-card-content>

</div>


