<div>
  <mat-card-content class="body-prod-ad">

  <mat-toolbar class="head-table body">

    <span> Produtos </span>
    <button class="button-add" (click)="openDialogo(produtoControl.value)">
      <mat-icon>add</mat-icon>
    </button>
    <input class="input-table" type="text" placeholder=" Digite a consulta" matInput
           [formControl]="produtoControl"
           (keypress)="changeProdutos(produtoControl.value)"
           (keydown)="listarProdutos()"
           (ngModelChange)="consultarPorNome(produtoControl.value)"
    />
    <button class="button-search body" (click)="consultarPorNome(produtoControl.value)">Search</button>

  </mat-toolbar>

    <div class="cards-container body">
      <mat-card *ngFor="let produto of tbSourceProdutos$.data" class="product-card">
        <div class="card-content-wrapper">
          <!--<div class="card-image">-->
              <div class=" cubo-main">
              <div class="cubo">
                <img class="face front " [src]="getImageUrl(produto.fotoProduto)" *ngIf="produto.fotoProduto">
                <img class="face back " src="/assets/image/r2_d2.png" >
                <img class="face right " src="/assets/image/obi_wan.png" >
                <img class="face left " src="/assets/image/clone_old.png" >
              </div>
            </div>
         <!-- </div>-->
          <div class="card-details">
            <mat-card-content>
              <div class="card-field"><strong>Código:</strong> {{produto.codProduto}}</div>
              <div class="card-field"><strong>Descrição:</strong> {{produto.nomeProduto}}</div>
              <div class="card-field"><strong>Preço:</strong> {{produto.valorVenda | currency:'BRL'}}</div>
              <div class="card-field"><strong>Estoque:</strong> {{produto.qtdEstoque}}</div>
              <div class="card-field"><strong>Data:</strong> {{produto.dtCadastro | date:'dd/MM/yyyy'}}</div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <button mat-icon-button class="edit" (click)="editarElement(produto)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="delete" (click)="deleteElement(produto.idProduto)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-paginator [length]="100"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageEvent = $event"
                   class="componet-gradient body">
    </mat-paginator>
  </mat-card-content>

</div>


