
.container-top-home {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  height: 400px;
}

.container-box {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, rgba(255, 255, 255, 0) 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  flex: 1 1 calc(33.333% - 32px); /* 3 colunas por linha (descontando o gap) */
  min-width: 250px;
  box-sizing: border-box;
  height: 350px;
  position: center;
}


.label-descrition {
  width: auto;
  font-family: "Fira Code Light";
  font-size: 14px;
  color: #32e27e;
  padding: 8px 20px 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.label-descrition:hover {
  color: #00030a;
  cursor: default;
}

/*
----------######cubo3D-------------------
*/
.cubo-main {
  /*
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  */
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; /* melhora o efeito 3D */
}

.cubo {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transform-origin: center; /* Garante rotação centralizada */
}

.cubo:hover {
  animation: giro 5s infinite linear;
}

.face-p {
  position: absolute;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: linear-gradient(50deg, #9f7928, #5d4a1f);
  border: 3px solid #9f7928;
  overflow: hidden;
  box-sizing: border-box; /* Garante que a borda não aumente o tamanho */
}

.front-p {
  transform: translateZ(70px); /* Metade da largura do cubo */
}

.back-p {
  transform: translateZ(-70px) rotateY(180deg);
}

.right-p {
  transform: translateX(70px) rotateY(90deg);
}

.left-p {
  transform: translateX(-70px) rotateY(-90deg);
}

@keyframes giro {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

