
  <div class="container-top-home ">


    <mat-card class="container-cube " appearance="outlined">
      <img class="img-magnifier-container"
           src="/assets/image/lambao.jpg" alt="Norway"
           imgMain name="imgMain" ngModel required #imgMain="ngModel"
           (load)="onImageLoad($event)"
           style="width:20%">
      <p><b>Caminho</b></p>
      <p class="label-descrition"> A estrada dos retos desvia-se do mal; o que guarda o seu caminho preserva a sua
        vida.</p>
      <img class=" box-card-main" src="assets/icons/naboo_starfighter.png">

    </mat-card>

    <mat-card class="container-cube ">

      <mat-card-header>
        <div mat-card-avatar class="image-slide-conteiner"></div>
        <mat-card-title>Dark Language of Good</mat-card-title>
        <mat-card-subtitle>The Power of Language</mat-card-subtitle>
      </mat-card-header>

   <mat-card class="box-card-main">
      <div class="box-card">
        <div class="face front">Java</div>
        <div class="face back">Angular</div>
        <div class="face right">React</div>
        <div class="face left">SQL</div>
        <div class="face top">SpringBoot</div>
        <div class="face bottom">Pyton</div>

        <div class="box-card">
          <div class="face front">Java</div>
          <div class="face back">Angular</div>
          <div class="face right">React</div>
          <div class="face left">SQL</div>
          <div class="face top">SpringBoot</div>
          <div class="face bottom">Pyton</div>
        </div>
      </div>
   </mat-card>
    </mat-card>

    <mat-card class="container-cube ">

      <img class="img-magnifier-container"
           src="/assets/image/lambao.jpg" alt="Norway" style="width:20%">
      <p><b>Insensatos</b></p>
      <p class="label-descrition">Os insensatos, por causa do seu caminho de transgressão, e por causa das suas
        iniqüidades, são afligidos. </p>
    </mat-card>

    <mat-card class="container-cube ">

    <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
      <p><b>Sabedoria e Entendimento</b></p>
      <p class="label-descrition"> Dize à sabedoria: Tu és minha irmã; e chama ao entendimento teu amigo íntimo</p>
    </mat-card>

    <mat-card class="container-cube ">

      <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
      <p><b>Sábios, Néscios e o Estúpido</b></p>
      <p class="label-descrition"> ... até os sábios morrem, que perecem igualmente o néscio e o estúpido, e deixam a
        outros os seus bens. </p>
    </mat-card>


    <mat-card class="container-cube ">
      <h4>Sobre me</h4>
      Entusiasta, curioso e fascinado por tecnologia e seu poder de conectar as pessoas.

      <div class="container">
        <h2>Mensagens JMS (Filas e Tópicos)</h2>

       <!-- <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let msg of mensagens">
                {{ msg }}
              </li>
            </ul>
          </div>
        </div>-->
      </div>


    </mat-card>

    <mat-card class="container-cube">

      <div>
        <p>scherlandro@gmail.com</p>
        <p><i></i></p>
        <p>Caucaia, CE</p>
        <p><i></i></p>
        <p>+55 (85) 99258-5768</p>
      </div>

      <div>
       <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">-->
        <>
          <div>
            <div>
              <label>Name</label>
              <br>
              <input type="text" placeholder="Name" name="name" ngModel required #name="ngModel">
            </div>
            <div>
              <label>Email </label>
              <br>
              <input type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
            </div>
            <div>
              <label>Message</label>
              <br>
              <textarea placeholder="Messages" name="messages" ngModel required #msgs="ngModel"></textarea>
            </div>
            <input type="submit" value="Send">
          </div>

      </div>
    </mat-card>

  </div>
