<div class="container-top-home ">


  <mat-card class="container-box " appearance="outlined">

    <p><b>Caminho</b></p>
    <p class="label-descrition"> A estrada dos retos desvia-se do mal; o que guarda o seu caminho preserva a sua
      vida.</p>
    <div class="card-container">
      <canvas #canvas class="particle-canvas"></canvas>
    </div>
  </mat-card>

  <mat-card class="container-box ">

    <div class=" cubo-main">
      <div class="cubo">
        <img class="face-p front-p " src="/assets/image/r2_d2.png">
        <img class="face-p back-p " src="/assets/image/r2_d2.png">
        <img class="face-p right-p " src="/assets/image/obi_wan.png">
        <img class="face-p left-p " src="/assets/image/clone_old.png">
      </div>
    </div>

  </mat-card>

  <mat-card class="container-box ">

    <img class="img-magnifier-container"
         src="/assets/image/lambao.jpg" alt="Norway" style="width:20%">
    <p><b>Insensatos</b></p>
    <p class="label-descrition">Os insensatos, por causa do seu caminho de transgressão, e por causa das suas
      iniqüidades, são afligidos. </p>

  </mat-card>

  <mat-card class="container-box ">

    <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
    <p><b>Sabedoria e Entendimento</b></p>
    <p class="label-descrition"> Dize à sabedoria: Tu és minha irmã; e chama ao entendimento teu amigo íntimo</p>
  </mat-card>

  <mat-card class="container-box ">

    <img src="/assets/image/planeta.png" alt="Norway" style="width:20%">
    <p><b>Sábios, Néscios e o Estúpido</b></p>
    <p class="label-descrition"> ... até os sábios morrem, que perecem igualmente o néscio e o estúpido, e deixam a
      outros os seus bens. </p>
  </mat-card>


  <mat-card class="container-box ">
    <h4>Sobre me</h4>
    Entusiasta, curioso e fascinado por tecnologia e seu poder de conectar as pessoas.

    <div class="container">
      <h2>Mensagens JMS (Filas e Tópicos)</h2>

    </div>


  </mat-card>

  <mat-card class="container-box">

    <div>
      <p>scherlandro@gmail.com</p>
      <p><i></i></p>
      <p>Caucaia, CE</p>
      <p><i></i></p>
      <p>+55 (85) 99258-5768</p>
    </div>

    <div>

      <div>
        <div>
          <label>Name</label>
          <br>
          <input type="text" placeholder="Name" name="name" ngModel required #name="ngModel">
        </div>
        <div>
          <label>Email </label>
          <br>
          <input type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
        </div>
        <div>
          <label>Message</label>
          <br>
          <textarea placeholder="Messages" name="messages" ngModel required #msgs="ngModel"></textarea>
        </div>
        <input type="submit" value="Send">
      </div>

    </div>
  </mat-card>




</div>
