
.container-top-home {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  height: 400px;
}

.container-box {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, rgba(255, 255, 255, 0) 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  flex: 1 1 calc(33.333% - 32px); /* 3 colunas por linha (descontando o gap) */
  min-width: 250px;
  box-sizing: border-box;
  height: 350px;
  position: center;
  align-items: center;
}


.label-descrition {
  width: auto;
  font-family: "Fira Code Light";
  font-size: 14px;
  color: #32e27e;
  padding: 8px 20px 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.label-descrition:hover {
  color: #00030a;
  cursor: default;
}

/*----------------###Canvas Particulas########--------- */
.card-container {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Arial', sans-serif;
}

.particle-canvas {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, rgba(255, 255, 255, 0) 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  position: relative;
  z-index: 10;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.card-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 60%;
}

.cta-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s;
  pointer-events: auto;
}

.cta-button:hover {
  background-color: #2563eb;
  cursor: progress;
}
