<div>
  <mat-card-content >

    <div class="spinner-container" *ngIf="spiner">
      <aside>
        <div *ngIf="spiner " class="spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </aside>
    </div>

    <mat-toolbar class="head-table-os body">
      <h3> Ordens de Serviços </h3>
      <button class="button-add" (click)="openDilogOS()">
        <mat-icon>add</mat-icon>
      </button>
      <input class="input-table-vd" type="text" placeholder=" Digite a consulta" matInput
             [formControl]="OSControl"
             (keydown)="loadOrders()"
             (keyup)="aplicarFiltro(OSControl.value)" />

      <button class="button-search-os body" (keydown)="onSearch()"  > Search</button>

    </mat-toolbar>

    <table mat-table class="expanding-table-os body" [dataSource]="tbSourceOS$" multiTemplateDataRows>

      <tr mat-header-row *matHeaderRowDef="displayedColumns0S"></tr>

      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome</th>
        <td mat-cell *matCellDef="let elementVd"> {{elementVd.nomeCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="Data">
        <th mat-header-cell *matHeaderCellDef> Data</th>
        <td mat-cell *matCellDef="let elementVd">   {{elementVd.dataDeEntrada | date:'dd/MM/yyyy'}}  </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let elementVd"> {{elementVd.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef> Total</th>
        <td mat-cell *matCellDef="let elementVd"> {{elementVd.totalGeralOS}} </td>
      </ng-container>

      <ng-container matColumnDef="Opicões">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon>build</mat-icon> Opições
        </th>
        <td mat-cell *matCellDef="let elementVd">
          <button class="button-add-item" (click)="openDilogItenOS(elementVd)">
            <mat-icon type="hidden" title="Adicionar mais Item" class="edit">
              add_shopping_cart
            </mat-icon>
          </button>
          <span></span>

          <button class="button-delete" >
            <mat-icon type="hidden" title="Remover OS" class="edit">
              delete
            </mat-icon>
          </button>
        </td>
      </ng-container>


      <!-- Expanded Column -->
      <ng-container matColumnDef="expandedDetail">

        <th mat-cell *matCellDef="let elemento" [attr.colspan]="displayedColumns0S.length">
          <div class="example-element-detail" [@detailExpand]="elemento.isExpanded ? 'expanded' : 'collapsed'">

            <table mat-table class="expanding-table-os" [dataSource]="tbSourceItensDaOS$">

              <tr mat-row *matRowDef=" let row; columns: displayedColumns;"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

              <ng-container matColumnDef="codOS">
                <th mat-header-cell *matHeaderCellDef> ID OS </th>
                <td mat-cell *matCellDef="let element"> {{element.codOS}} </td>
              </ng-container>

              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código</th>
                <td mat-cell *matCellDef="let element"> {{element.codProduto}} </td>
              </ng-container>

              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição</th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
              </ng-container>

              <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Preço</th>
                <td mat-cell *matCellDef="let element"> {{element.valorUnitario}} </td>
              </ng-container>

              <ng-container matColumnDef="qtd">
                <th mat-header-cell *matHeaderCellDef> Qtd</th>
                <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
              </ng-container>

              <ng-container matColumnDef="soma">
                <th mat-header-cell *matHeaderCellDef> Soma</th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
              </ng-container>


              <ng-container matColumnDef="imagem">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <img class="image-table"
                       src="/assets/image/lambao.jpg">
                </td>
              </ng-container>

              <ng-container matColumnDef="opicoes">
                <th mat-header-cell *matHeaderCellDef> Opições</th>
                <td mat-cell *matCellDef="let element">
                  <button class="button-update">
                    <mat-icon type="hidden" title="Editar Item" class="edit"
                      (click)="openDilogItenOS(element)">
                    </mat-icon>
                  </button>
                  <button class="button-update" title="Remover Item">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>


            </table>

          </div>
        </th>
      </ng-container>

      <tr mat-row *matRowDef="let boss; columns: displayedColumns0S;"
          class="example-element-row"
          [class.example-expanded-row]="boss.isExpanded"
          (click)="toggleRow(boss)">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <span *ngIf="OSControl.value && OSControl.value.length >= 3">
            Nenhum resultado encontrado para "{{OSControl.value}}"
          </span>
          <span *ngIf="!OSControl.value || OSControl.value.length === 0">
          <strong >  Nenhum dado disponível </strong>
          </span>
        </td>
      </tr>
    </table>


    <mat-paginator [length]="100"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageEvent = $event"
                   aria-label="Select page"
                   class="button-gradient body">
    </mat-paginator>
  </mat-card-content>
</div>

