.table-head-data{
  width: fit-content;
  height: 1%;
}

.table-child{
  background-image: linear-gradient( #8438ee, #34db85);
}

.mat-card-table{
  width: auto;
  height: auto;
  display: grid;
  padding: 15px;
  background: linear-gradient(145deg, rgba(205, 184, 232, 0.45), rgba(155, 127, 213, 0.34));
  box-shadow:  20px 20px 60px #b2acc4,
  -20px -20px 60px #3d5257;
  color: #1a2b15;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
}

.expanding-table-os {
  min-width: 100%;
  height: 50px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  table-layout: fixed;
  width: fit-content;
}

.componet-gradient {
  min-width: 120px;
  width: auto;
  height: 50px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.componet-gradient:hover {
  background-image: linear-gradient( #e2efec, #7e758e);
}

.button-update {
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-add{
  max-width: 100px;
  background-position:left ;
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-search-os {
  width: 100%;
  min-width: 50px;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.button-delete {
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-delete:hover {
  background-image: linear-gradient( #e2efec, #d90505);
}

.image-table{
  height: auto;
  min-height: 50px;
  min-width: 50px;
  width: 20%;
}

.head-table-os{
  border-radius: 15px;
  background-color: rgba(51, 33, 83, 0.07);
  color: #0f2102;
  display: grid;
  align-content: end;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-gap: 2px;
  min-height: 45px;
  height: auto;
}

.input-table-vd{
  padding-inline-start: 10px;
  border-bottom-left-radius: 15px;
  min-height: 25px;
  height: auto;
  max-width: 300px;
  width: auto;
  color: #32e27e;
  background: rgba(0, 3, 10, 0.05);
}


tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
  width: fit-content;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}



