<h1 *ngIf="!isChange" mat-dialog-title>Abrir Venda</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Venda</h1>

<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Cliente</mat-label>
    <input type="text"
           placeholder="Digite o Cliente"
           matInput
           [formControl]="clienteControl"
           [matAutocomplete]="auto"/>
    <mat-error>Campo Obrigatório não preenchido.</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
        {{cliente.nomeCliente}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="venda.nomeCliente">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data</mat-label>
    <input matInput [(ngModel)]="venda.dt_venda">
  </mat-form-field>

  <!-- <mat-form-field>
     <mat-select   placeholder="Selecione o Cliente"
     [formControl]="clienteControl" multiple>
       <mat-option *ngFor="let topping of listProd"
       [value]="topping">{{topping}}</mat-option>
     </mat-select>
   </mat-form-field>
 -->

  <button mat-button *ngIf="!isChange" cdkFocusInitial
          (click)="save()">Adicionar
  </button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>


</div>

