
.container{
  --color-light-50: #b9e374;
  --color-dark-50: #c5a0ce;
  --color-dark-100: #312d37;
  --color-dark-900: #000;
  --color-purple-50: #9ba1a7;
  --color-purple-100: #eaedf6;
  --color-purple-200: #bf46ef;
  --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
  padding: 20px 40px 20px 40px;
  border-radius: 30px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
}
.conteudo-login{
  display: flex;
  flex-direction: column;
}
.card-login{
  width: 300px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
.mat-card.mat-input-element{
  width: 265px;
  background-color: darkgray;
  color: lawngreen;
  box-shadow: 10px 5px 5px rgba(1, 10, 20, 0.4);
}
.bottom-container{
  background: var(--color-gradient);
  color: #253d06;
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
  border-radius: 15px;
  cursor: pointer;
}
.component-g{
  min-width: 200px;
  width: auto;
  min-height: 50px;
  height: auto;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #8438ee, #34db85);
  background-image: -moz-linear-gradient(top, #8438ee, #34db85);
  background-image: -ms-linear-gradient(top, #8438ee, #34db85);
  background-image: -o-linear-gradient(top, #8438ee, #34db85);
  background-image: linear-gradient(to bottom, #8438ee, #34db85);
}
.bottom-alert{
  background: var(--color-gradient);
  color: #583107;
  font-style: oblique;
  font-size: 12px;
  box-shadow: 10px 5px 5px rgba(28, 236, 32, 0.4);
  border-radius: 15px;
}
.input-login {
  padding-inline-start: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 25px;
  height: auto;
  max-width: 300px;
  width: auto;
  color: #021108;
  background: rgba(0, 3, 10, 0.2);
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
}

.cursor-home:hover{
  cursor: pointer;
}


